<div class="row">
  <div class="col-md-4">
    <div class="side-image">
      <img src="<%= @user.image.thumb %>">
    </div>
    <div class="side-info">
      <%= @user.name %>
    </div>
  </div>
  <div class="col-md-8">
    <h1>ユーザー一覧</h1>

    <% @users.each do |user| %>
      <div class="index-box">
        <img src="<%= user.image.thumb50 %>">
        <%= user.name %>
      </div>
    <% end %>
  </>
</div>
